In [19]:
import pandas as pd
import numpy as np

import charset_normalizer

np.random.seed(0)

In [20]:
# start with string
before = "This is the euro symbol : €"

# check to see what datatype it is
type(before)

str

In [21]:
# encode it into a different encoding, replacing characters that raise errors
after = before.encode("utf-8", errors="replace")

# check the type
type(after)

bytes

In [22]:
# take a look at what the byte look like
after

b'This is the euro symbol : \xe2\x82\xac'

In [23]:
# convert it back to utf-8
print(after.decode("utf-8"))

This is the euro symbol : €

In [24]:
# try to decode our byte with ascii encoding
print(after.decode("ascii"))

UnicodeDecodeError: 'ascii' codec can't decode byte 0xe2 in position 26: ordinal not in range(128)

In [ ]:
# start with a string
before = "This is the euro symbol : €"

# encode it to a different encoding, replacing characters that raise eerors
after = before.encode("ascii", errors="replace")

# convert it back to utf-8
print(after.decode("ascii"))

# We've lost the original underlying byte string! It's been 
# replaced with the underlying byte string for the unknown character :(

This is the euro symbol : ?

In [ ]:
kickstarter_2016 = pd.read_csv('ks-projects-201801-utf8.csv')

C:\Users\Supun\AppData\Local\Temp\ipykernel_12268\174878928.py:1: DtypeWarning: Columns (14,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  kickstarter_2016 = pd.read_csv('ks-projects-201801-utf8.csv')

In [ ]:
# look at the first ten thousand to guess the character encoding
with open('ks-projects-201801-utf8.csv', 'rb') as rawdata:
    result = charset_normalizer.detect(rawdata.read(10000))

# check what the character encoding might be
print(result)

{'encoding': 'utf-8', 'language': 'Spanish', 'confidence': 0.991}

In [25]:
# read the file with encoding detected by charset_normalizer
kickstarter_2016 = pd.read_csv('ks-projects-201801-utf8.csv', encoding='utf-8')

# look at the first few lines
kickstarter_2016.head()

C:\Users\Supun\AppData\Local\Temp\ipykernel_12268\2989959827.py:2: DtypeWarning: Columns (14,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  kickstarter_2016 = pd.read_csv('ks-projects-201801-utf8.csv', encoding='utf-8')

,Unnamed: 0,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09 11:36:00,1000,2015-08-11 12:12:28,0,failed,0,GB,0,NaN,NaN,NaN,NaN
1,1,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26 00:20:50,45000,2013-01-12 00:20:50,220,failed,3,US,220,NaN,NaN,NaN,NaN
2,2,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16 04:24:11,5000,2012-03-17 03:24:11,1,failed,1,US,1,NaN,NaN,NaN,NaN
3,3,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29 01:00:00,19500,2015-07-04 08:35:03,1283,canceled,14,US,1283,NaN,NaN,NaN,NaN
4,4,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01 13:38:27,50000,2016-02-26 13:38:27,52375,successful,224,US,52375,NaN,NaN,NaN,NaN

In [26]:
kickstarter_2016.to_csv("ks-projects-201801-utf9.csv")